body{

	margin: 0;
	text-align: center;
height: 100vh;
}


.left{
	float: left;
	background-color: black;
	width: 50%;
	height: 100%;
}

.right{
	
	float: right;
	width: 50%;
	background-color: white;
	height: 100%;

	
}

.login{
	padding-top: 50%;
	margin: auto;
}